*{
    box-sizing: border-box;
    margin: 0;
}

html, body{
    background-color: #404040;
    color: blue;
    font-family: sans-serif;
    text-align: justify;
}

#container{
    width: 100%;
    margin: 0 auto;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
}

nav{
    background-color: #000;
    display: flex;
    /* justify-content: space-around; */
    color: #fff;
}

nav div{
    padding: 20px;
    min-width: 90px;
    flex: 1 1;
    text-align: center;
}

nav div:hover{
    cursor: pointer;
    background-color: darkgray;
    color: #000;
}

#banner {
    background-image: url(pic/banner-big.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
    margin-top: 55px;
    height: 300px;
    color: #fff;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#article{
    color: yellow;
    margin: 5%;
}


#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item{
    margin: 20px;
}

.gallery-item .thumbnail{
    width: 240px;
    border: 2px solid #fff;
    border-radius: 10px;
}
/* #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .gallery-item {
    margin: 20px;
  }
  
  .gallery-item .thumbnail {
    width: 240px;
    border: 2px solid GhostWhite;
    border-radius: 4px;
  }
 */
@media only screen and (max-width: 576px) {
    #article{
        color: red;
    }
    .gallery-item .thumbnail{
        width: 100%;
    }
}