*{
    box-sizing: border-box;
    margin: 0;
}

html, body{
    background-color: #242f44;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#container{
    width: 100%;
    margin: 0 auto;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
}

nav{
    background-color: #000;
    display: flex;
}

nav div{
    padding: 20px 0;
    /* min-width: 90px; */
    flex: 1 1;
    text-align: center;
}

nav div:hover{
    cursor: pointer;
    background-color: darkgray;
    color: #000;
}

#banner {
    background-image: url(pic/banner-big.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#242f44;
    margin-top: 55px;
    height: 300px;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner #text{
    min-width: 120px;
}

#article{
    margin: 5% 15% 0 15%;
    text-align: center;
    line-height: 1.5;
}

#learn-more{
    color: darkorange;
    font-size: 1.2em;
    display: inline-flex;
    padding: 10px;
    border-radius: 10px;
    margin-top: 2%;
}

#learn-more:hover{
    cursor: pointer;
    background-color: whitesmoke;
}

#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 0;
}

.gallery-item{
    margin: 20px;
    text-align: center;
}

.gallery-item figcaption{
    margin-top: 10px;
}

.gallery-item .thumbnail{
    width: 240px;
    border: 2px solid #fff;
    border-radius: 10px;
}

footer{
    background-color: #fff;
    color: darkorange;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    font-size: 1.25em;
    position: relative;
    bottom: 0;
}

@media only screen and (max-width: 576px) {
    .gallery-item .thumbnail{
        width: 100%;
    }
    #banner #text{
        width: 80%;
        text-align: center;
    }
    footer #rights{
        display: none;
    }
}

@media only screen and (min-width: 700px){
    #gallery{
        margin: 2px 0 40px 0;
    }
}

@media only screen and (min-width: 768px){
    body{
        font-size: 25px;
    }
}